apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: dc-metro-map-tkxz
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/release-e2e-bundle-tenant/appstudio/dc-metro-map-tkxz@sha256:9f2f6570c6cb539ec7fbe53ae61bdeceb12378094777da1b720645cb0bde67d0
        name: my-nodejs
        resources: {}
status: {}
